<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>ChamaleonDevs Gestión Administrativa</title>
</head>
<body>
<div class="container">
    <h1>Formulario para Agregar un Usuario</h1>
    <br>

    <form th:action="@{/GuardarEmpleado}" th:object="${emple}" method="post">

        <!--Campo para Nombre-->
        <div class="row">
            <div class="form-group col-md-12">
                <label class="col-md-3" for="nombre">Nombre Completo:</label>
                <div class="col-md-6">
                    <input type="text" th:field="*{nombre}" class="form-control" id="nombre" required="required"></div>
            </div>
        </div>
        <!--Campo para correo-->
        <div class="row">
            <div class="form-group col-md-12">
                <label class="col-md-3" for="correo">Correo:</label>
                <div class="col-md-6">
                    <input type="text" th:field="*{correoEmpleado}" class="form-control" id="correo" required="required"></div>
            </div>
        </div>
        <!--Campo para Rol-->
        <div class="row">
            <div class="form-group col-md-12">
                <label class="col-md-3" for="rol">ROL de Usuario:</label>
                <div class="col-md-6">
                    <input type="text" th:field="*{rolEmpleado}" class="form-control" id="rol" required="required"></div>
            </div>
        </div>



        <div class="row">
            <div class="col-md-2">
                <button class="btn btn-success">Agregar Usuario</button>
            </div>
        </div>

    </form>

    <br>
    <a href="javascript: history.go(-1)" class="btn btn-info" role="button">Atrás</a>
</div>
<script th:inline="javascript">
    window.onload=function(){

        var msg= [[${mensaje}]];
        if (msg == "saveOK"){
            Command : toastr["success"]("Empresa creada con éxito!")
            }
        else if (msg == "updateOK"){
            Command : toastr["success"]("Empresa actualizada con éxito!")
        }
        else if (msg == "deleteOK"){
            Command : toastr["error"]("Empresa eliminada con éxito!")
        }
        else if (msg == "deleteError"){
            Command : toastr["error"]("Empresa no ha sido eliminada!")
        }
        toastr.options={
            "positionClass": "toast-top-right",
            "showDuration":"300",
            "showMethod":"fadeIn",
            "hideMethod":"fadeOut",
        }
    }
</script>
</body>
</html>