<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>ChamaleonDevs Gestión Administrativa</title>

    <!--Bootstrap icons-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <!--Bootstrap icons-->

    <!--Personal css-->
    <link rel="stylesheet" href="/css/botonCrear.css">
    <!--Personal css-->

</head>
<body>
<div id="container">

    <!-- Topbar -->
    <nav class="navbar navbar-expand navbar-dark bg-dark bg-gradient d-flex justify-content-around topbar mb-2 sticky-top shadow">
        <!-- Sidebar Toggle (Topbar) -->

        <!--LOGO CHAMELEON_DEVS-->
        <div>
            <a class="navbar-brand d-flex gap-3 align-items-center">
                <img src="/img/logoAnimado8.gif" alt="logo" width="80" height="50" class="d-inline-block align-text-top border border-0 rounded-4">
                <span class="ml-2 d-none d-lg-inline text-gray-600 small">Chameleon Devs</span>
            </a>
        </div>
        <!--LOGO CHAMELEON_DEVS-->

        <!--MENÚ-->
        <ul class="navbar-nav d-flex gap-3">
            <li class="nav-item">
                <a class="nav-link active link-hover" aria-current="page" href="http://localhost:8080">Resumen</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active link-hover" aria-current="page" href="/VerEmpleados">Empleado</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active link-hover" aria-current="page" href="/VerEmpresas">Empresa</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active link-hover" aria-current="page" href="/VerMovimientos">Movimiento</a>
            </li>
        </ul>
        <!--MENÚ-->

        <!-- Topbar Navbar -->
        <ul class="navbar-nav">
            <!-- Nav Item - User Information -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle d-flex gap-3 align-items-center" href="#" id="userDropdown" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="mr-2 d-none d-lg-inline text-gray-600 small">Diego Tobón</span>
                    <img class="img-profile border border-0 rounded-4" src="img/user64.png" width="35" height="35">
                </a>
                <!-- Dropdown - User Information -->
                <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                     aria-labelledby="userDropdown">
                    <a class="dropdown-item" href="#">
                        <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                        Perfil
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                        <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                        Cerrar Sesión
                    </a>
                </div>
            </li>
        </ul>
    </nav>
    <!-- End of Topbar -->

    <div class="px-4 py-5 text-center">
        <h1 class="display-5 fw-bold mb-4">EMPRESAS</h1>
        <a th:href="@{/AgregarEmpresa}" class="btn btn-brown text-white fw-bold px-3">Agregar Empresa</a>
    </div>


    <div class="container-fluid">
        <!-- Page Heading -->
        <!--<h1 class="h3 mb-2 text-gray-800">EMPRESAS</h1>-->
        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 fw-bold color-brown">Listado de Empresas</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover table-striped" id="dataTable" width="100%" cellspacing="0">
                        <thead class="table-dark">
                        <tr>
                            <th>Id</th>
                            <th>Nit</th>
                            <th>Nombre</th>
                            <th>Teléfono</th>
                            <th>Dirección</th>
                            <th>Fecha Creación</th>
                            <th>Fecha Actualización</th>
                            <th>Editar</th>
                            <th>Eliminar</th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr th:each="empresa : ${emplist}">
                            <td th:text="${empresa.empresaId}"></td>
                            <td th:text="${empresa.nitEmpresa}"></td>
                            <td th:text="${empresa.nombreEmpresa}"></td>
                            <td th:text="${empresa.telefonoEmpresa}"></td>
                            <td th:text="${empresa.direccionEmpresa}"></td>
                            <td th:text="${empresa.fechaCreacion}"></td>
                            <td th:text="${empresa.fechaActualizacion}"></td>
                            <!--<td>
                                <button type="button" class="btn btn-warning"><a th:href="@{/EditarEmpresa/{id}(id=${empresa.empresaId})}">Editar</a></button> &lt;!&ndash; bi bi-pencil-square &ndash;&gt;
                            </td>-->
                            <td class="text-center"><a th:href="@{/EditarEmpresa/{id}(id=${empresa.empresaId})}" class="btn btn-outline-primary bi bi-pencil"></a></td>
                            <td class="text-center"><a th:href="@{/EliminarEmpresa/{id}(id=${empresa.empresaId})}" class="btn btn-outline-danger bi bi-trash"></a></td>
                            <!--<td>
                                <button type="button" class="btn btn-danger"><a th:href="@{/EliminarEmpresa/{id}(id=${empresa.empresaId})}">Eliminar</a></button>
                            </td>-->
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script th:inline="javascript">
    window.onload=function(){

        var msg= [[${mensaje}]];
        if (msg == "saveOK"){
            Command : toastr["success"]("Empresa creada con éxito!")
        }
        else if (msg == "updateOK"){
            Command : toastr["success"]("Empresa actualizada con éxito!")
        }
        else if (msg == "deleteOK"){
            Command : toastr["error"]("Empresa eliminada con éxito!")
        }
        else if (msg == "deleteError"){
            Command : toastr["error"]("Empresa no ha sido eliminada!")
        }
        toastr.options={
            "positionClass": "toast-top-right",
            "showDuration":"300",
            "showMethod":"fadeIn",
            "hideMethod":"fadeOut",
        }
    }
</script>
</body>

</html>